
<div class="content-fluid">
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <img class="first-slide" src="/assets/images/slider0.jpg" alt="First slide">
          <div class="container">

            <div class="carousel-caption d-none d-md-block text-left">
              <h1>Buscar Profesional</h1>
              <p>Una persona feliz no tiene un determinado conjunto de circunstancias, sino un conjunto de actitudes.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
             <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Toggle dropdown</button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
    </div>
</div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="first-slide" src="/assets/images/slider1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block">
              <h1>William James</h1>
              <p>El gran descubrimiento de mi generación es que un ser humano puede alterar su vida al alterar sus actitudes</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
      </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="first-slide" src="/assets/images/slider2.jpg" alt="First slide">
          <img class="third-slide" src="" alt="Third slide">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-right">
              <h1>Anthony J. D’Angelo</h1>
              <p>Vayas a donde vayas, no importa el tiempo, lleva siempre tu propia luz</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

<hr>
<!-- / carrousel end-->
<!-- Container uno -->
<div class="container">
 <!-- Call to Action Well -->
    <div class="row">
        <div class=".col-xl-8">
          <div class="well text-center">
            <h2>Nuestro servicios</h2>
          </div>
        </div>
    </div>
    <hr>
    <br>

    <div class="container marketing">

      <!-- las columnas de Acciones  -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/img/buscar.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Publicar un Servicio</h2>
          <span class="social social-blogger"><strong>Encontra el profesional adecuado para tu servicio</strong></span>
          <p>Los mejores profesionales estan pendientes de tus servicios,
            publica un servicio al la breviedad te contactara un especialista
            es facil,seguro,rapido, y con los mejores precios.</p>
          <p><a class="btn btn-primary" [routerLink]="['dashboard']" role="button">Publicar&raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/img/perfil.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2> Cargar Pelfil</h2>
          <span class="social social-blogger"><strong>Haz que tu trabajo, llegue en todo el mundo
                        cargue tu perfil</strong></span>
          <p>Registrate, sube tu curriculum si sos un profesional calificado.
            los clientes te buscan asi que sube ya tu curriculum y empieza a vender servicios.
            nunca mas te va a quedar sin laburo.</p>
          <p><a class="btn btn-primary" [routerLink]="['/profil']" role="button">Ingresar  &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
       
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/img/search.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Buscar Profesional</h2>
           <span class="social social-blogger"><strong>Encontra el profesional adecuado para tu servicio</strong></span>
          <p> Buscar un profesional no era tan facil, con nosotros es cuestion de minutos. 
              Busqueda muy simple, encuentras el perfil de profesional adecuado y lo contratas.</p>
          <p><a class="btn btn-primary" href="#" role="button">Buscar &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

 <!-- las columnas de informaciones  -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/carp1.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Carpinteria</h2>
          <p>Instalacion de inodoro,cambio, reparaciones,turberia, canalizacion</p>
          <p><a class="btn btn-primary" href="#" role="button">Contratar &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/plom1.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Plomeria</h2>
          <p>Es muy difícil cuando lo tengo que hacer y muy sencillo cuando lo quiero hacer</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/tecnicos2.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Electricista</h2>
          <p>Puede que todos los días no sean buenos, pero hay algo bueno en todos los días.-Autor desconocido</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

       <!-- las columnas de informaciones  -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/class.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Profesor Particular</h2>
          <p>Si no te gusta algo, cámbialo; si no lo puedes cambiar, cambia la forma en que piensas sobre ello</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/mecanico1.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Mecanico</h2>
          <p>Si no disfrutas el viaje, probablemente no disfrutes el destino</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/maintenance.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Gasistas</h2>
          <p>La actitud es una pequeña cosa que marca una gran diferencia</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

       <!-- las columnas de informaciones  -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/imgG1.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Reparador de Celular</h2>
          <p>No creo en tomar la decisión correcta. Yo tomo una decisión y la convierto en correcta.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
     
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/imgTEC1.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Reparador de aparatos tecnologicos</h2>
          <p>Estar interesado en los cambios de estación es un estado más feliz que estar enamorado siempre de la primavera</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
     
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/electo.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Conductor</h2>
          <p>Si no consigues todo lo que quieres, piensa en las cosas que no quieres y que no consigues</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->

    <!-- las columnas de informaciones  -->
      <div class="row">
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/tec3.jpg  "alt="Generic placeholder image" width="140" height="140">
          <h2> Eventos </h2>
          <p>Si no piensas que cada día es un buen día, intenta perderte uno</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
       
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/fum.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Pintor</h2>
          <p>La excelencia no es una habilidad, es una actitud</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
       
        <div class="col-lg-4">
          <img class="rounded-circle" src="/assets/images/pic/limpieza.jpg " alt="Generic placeholder image" width="140" height="140">
          <h2>Artista</h2>
          <p>Tus opciones de acción pueden ser limitadas, pero no tus opciones de pensamientos</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
</div>