#grayOutDiv
{
    background-color: #333;
    opacity: 0.7;
    position: fixed;
    top: 30%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 9999;
}
 
.flash-message
{ 
    top: 50%;
    z-index: 10000;
    position: fixed;
}