.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (50).jpg")no-repeat center center;
  background-size: cover;
}
html,
body,
header,
.view {
height: 100%;
}
.indigo {
  background-color: #2d3246 !important;
}
