// $topnav-background-color: #c9302c;
// :host {
//     display: block;
// }
// .login-page {
//     position: relative;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     overflow: auto;
//     background: $topnav-background-color;
//     text-align: center;
//     color: #0275d8;
//     padding: 3em;
//     .col-lg-4{
//         padding :0;
//     }
//     .input-lg {
//         height: 46px;
//         padding: 10px 16px;
//         font-size: 18px;
//         line-height: 1.3333333;
//         border-radius: 0;
//     }
//     .input-underline {
//         background: 0 0;
//         border: none;
//         box-shadow: none;
//         border-bottom: 2px solid rgba(255,255,255,.5);
//         color: #0275d8;
//         border-radius: 0;
//     }
//     .input-underline:focus {
//         border-bottom: 2px solid #0275d8;
//         box-shadow: none;
//     }
//     .rounded-btn{
//         -webkit-border-radius: 50px;
//                 border-radius: 50px;
//         color: rgba(255,255,255,0.8);
//         background: $topnav-background-color;
//         border: 2px solid rgba(255,255,255,0.8);
//         font-size: 18px;
//         line-height: 00px;
//         // padding: 0 25px;
//     }
//     .rounded-btn:hover,.rounded-btn:focus,.rounded-btn:active,.rounded-btn:visited{
//         color: rgba(255,255,255,1);
//         border: 2px solid rgba(255,255,255,1);
//         outline: none;
//     }

//     h1 {
//         font-weight: 300;
//         margin-top: 20px;
//         margin-bottom: 10px;
//         font-size: 36px;
//         small {
//             color: rgba(255,255,255,0.7);
//         }
//     }

//     .form-group {
//         // padding: 8px 0;
//         input::-webkit-input-placeholder {
//         color: rgba(255,255,255,0.6) !important;
//         }

//         input:-moz-placeholder { /* Firefox 18- */
//         color: rgba(255,255,255,0.6) !important;
//         }

//         input::-moz-placeholder {  /* Firefox 19+ */
//         color: rgba(255,255,255,0.6) !important;
//         }

//         input:-ms-input-placeholder {
//         color: rgba(255,255,255,0.6) !important;
//         }
//     }
//     .form-content {
//         padding: 40px 0;
//     }
//     .user-avatar {
//         -webkit-border-radius: 50%;
//                 border-radius: 50%;
//         border: 2px solid #FFF;
//     }
// }

body{
  background: #673ab7;
}
.nb-login{
	max-width:300px;
	margin:30px auto;
	background:rgba(255,255,255,0.2);
	padding:20px 25px;
	border-radius:2px;
	box-shadow:0px 0px 10px rgba(255,255,255,0.05);
}
.nb-login h3{
	font-size:13px;
	line-height:13px;
	margin:15px 0px 25px 0px;
	text-transform:uppercase;
	color:#fff;
}
.nb-login form{
	margin-bottom:15px;
	color:#fff;
}
.nb-login form input,
.nb-login form textarea{
	box-shadow:none !important;
	padding:6px 5px;
	color:#fff;
	border:0px;
	border-bottom:1px solid rgba(255,255,255,0.5);
	background:transparent;
	border-radius:0px;
}
.nb-login form input:focus{
  background: rgba(255,255,255,0.05);
}
.nb-login form ::-webkit-input-placeholder {
   color: rgba(255,255,255,0.5);
}
.nb-login form ::-moz-placeholder {
   color: rgba(255,255,255,0.5);
}
.nb-login form :-ms-input-placeholder {
   color: rgba(255,255,255,0.5);
}
.nb-login form .btn{
	border:0px;
	border-radius:25px;
	padding:10px 20px;
	border:1px solid rgba(255,255,255,0.5);
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
	background:transparent;
	margin-top:15px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.nb-login form .btn:hover{
	background:#fff;
	color:#666;
}
.nb-login .social a{
	display:block;
	margin-bottom:15px;
	color:#fff;
	padding:8px 20px;
	border-radius:25px;
	text-align:center;
	font-size:12px;
	text-transform:uppercase;
	font-weight:600;
  text-decoration: none;
}
.nb-login .social a:hover{
  opacity: 0.9;
}
.nb-login .social a.facebook{
  background: #3280e7;
}
.nb-login .social a.twitter{
  background: #32c8de;
}
.nb-login .social a.google-plus{
  background: #f96f4a;
}
.nb-login .center{
  text-align: center;
}
.nb-login .or{
  color: #FFF;
}