<div class="container">
    <div class="login-page">
        <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/SB-admin.png" width="150px" class="user-avatar" />
            <h1>Mercado Servicio</h1>
            <form role="form" ng-click="loginEmail(#email,#password)">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" #email placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" #password placeholder="Password">
                    </div>
                </div>
                <div class="col-xs-2 col-sm-2">
            <a href="#" class="btn btn-lg btn-block kpx_btn-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
              <i class="fa fa-facebook fa-2x"></i>
              <span class="hidden-xs"></span>
            </a>
          </div>
                <a class="btn rounded-btn"  (click)="login()"> Google </a>
                &nbsp;
				 <a class="btn rounded-btn"  (click)="loginEmail()">Email</a>
                &nbsp;
				 <a class="btn rounded-btn"  (click)="iniciarFacebook()">facebook</a>
                &nbsp;
                <a class="btn rounded-btn" (click)="loginTwitter()">Twitter</a>
            </form>
        </div>
    </div>
</div>
</div>
<div class="col-md-6">

<!-- Login Form -->
<div class="nb-login">
	<h3 class="scenter">Sign In</h3>
	<form>
		<div class="form-group">
			<input type="email" class="form-control" placeholder="Enter Email">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" placeholder="Enter Password">
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Remember Me
			</label>
		</div>
		<button type="submit" class="btn btn-block">Sign In</button>
	</form>
	<div class="center or">OR</div>
	<h3 class="center">Sign In Using</h3>
	<div class="social">
		<a href="#" class="facebook"><i class="fa fa-facebook"></i> &nbsp; Login with Facebook</a>
		<a href="#" class="twitter"><i class="fa fa-twitter"></i> &nbsp; Login with Twitter</a>
		<a href="#" class="google-plus"><i class="fa fa-google-plus"></i> &nbsp; Login with Google Plus</a>
	</div>
</div>

</div>