<div class="LoginForm">
  <div class="container">
    <div class="login-form">
      <!-- <h1 class="form-heading">theres is logo place</h1> -->
      <div class="main-div">
        <div class="panel">
          <h2>Brontrix Services</h2>
          <p>Iniciar sesion</p>
        </div>
        <form id="Login">
          <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Usuario/Correo">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
          <div class="forgot">
            <a href="#">Haz olvidado tu contrasena?</a>
          </div>
          <button type="submit" class="btn btn-primary">Ingresar</button>
          <div class="flex-c p-b-112">
            <a href="#" class="login100-social-item">
              <i class="fa fa-facebook-f"></i>
            </a>
            <a (click)="googleLogin()" class="login100-social-item">
              <img src="/assets/icons/icon-google.png" alt="GOOGLE">
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
