<div class="container">
<div class="row">
  <div class="col-xl-3 col-lg-6">

      <div class="card card-inverse card-primary ">
          <div class="card-header">
              <div class="row">
                  <div class="col col-xs-3">
                      <i class="fa fa-user-o fa-5x"></i>
                  </div>
                  <div class="col col-xs-9 text-right">
                      <div class="d-block huge"></div>
                      <div class="d-block">¿Eres un profesional?</div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <span class="float-left">Registrate</span>
              <a href="javascript:void(0)" class="float-right card-inverse">
                  <span ><i class="fa fa-arrow-circle-right"></i></span>
              </a>
          </div>
      </div>

  </div>
  <div class="col-xl-3 col-lg-6">
      <div class="card card-inverse card-primary ">
          <div class="card-header">
              <div class="row">
                  <div class="col col-xs-3">
                      <i class="fa fa-cart-plus fa-5x"></i>
                  </div>
                  <div class="col col-xs-9 text-right">
                      <div class="d-block huge"></div>
                      <div class="d-block">Publicar un servicio</div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <span class="float-left">publicar</span>
              <a href="javascript:void(0)" class="float-right card-inverse">
                  <span ><i class="fa fa-arrow-circle-right"></i></span>
              </a>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-lg-6">
      <div class="card card-inverse card-primary ">
          <div class="card-header">
              <div class="row">
                  <div class="col col-xs-3">
                      <i class="fa fa-commenting-o fa-5x"></i>
                  </div>
                  <div class="col col-xs-9 text-right">
                      <div class="d-block huge"></div>
                      <div class="d-block">Registrate & chatea con el profesional</div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <span class="float-left">Chatear</span>
              <a href="javascript:void(0)" class="float-right card-inverse">
                  <span ><i class="fa fa-arrow-circle-right"></i></span>
              </a>
          </div>
      </div>
  </div>
  <div class="col-xl-3 col-lg-6">
      <div class="card card-inverse card-primary ">
          <div class="card-header">
              <div class="row">
                  <div class="col col-xs-3">
                      <i class="fa fa-database fa-5x"></i>
                  </div>
                  <div class="col col-xs-9 text-right">
                      <div class="d-block huge"></div>
                      <div class="d-block">Encuentre la solucion a tu problema</div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <span class="float-left">Buscar</span>
              <a href="javascript:void(0)" class="float-right card-inverse">
                  <span ><i class="fa fa-arrow-circle-right"></i></span>
              </a>
          </div>
      </div>
  </div>
</div>
</div>
<hr />
