<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['']">Mercado Servicios</a>
       
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <form class="form-inline my-2 my-lg-0" (click)="buscar(params)">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" #params (keyup)="buscarAll()" name="params">
               <i class="fa fa-search" aria-hidden="true" (click)="buscar(params)"></i> <b class="caret"></b><span class="sr-only">(current)</span>
            </form>

            <ul class="navbar-nav ml-auto mt-2 mt-md-0" >
                <li class="nav-item" *ngIf="isLoggedIn;else login">
                    <a href="#" class="nav-link mt-1" style="pbuscaring: 0.375rem 1rem !important; border-color: #999;" (click)="rltAndLtr()">RTL/LTR</a>
                </li> &nbsp;
                <!--<li class="dropdown nav-item" >-->
                <li class="nav-item dropdown " *ngIf="isLoggedIn;else login">
                    <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
                        <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right messages">
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">John Smith</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">John Smith</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                        <li class="media">
                            <img class="d-flex align-self-center mr-3" src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0 mb-1">Login</h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li  class="nav-item dropdown" >
                    <a href="#" class="nav-link dropdownToggle" data-toggle="dropdown">
                        <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item">Pending Task <span class="badge badge-info">6</span></a>
                        <a href="#" class="dropdown-item">In queue <span class="badge badge-info"> 13</span></a>
                        <a href="#" class="dropdown-item">Mail <span class="badge badge-info"> 45</span></a>
                        <li class="dropdown-divider"></li>
                        <a href="#" class="dropdown-item">View All</a>
                    </ul>
                </li>
                <div class="nav-item dropdown" *ngIf="isLoggedIn; then userMenu else login"></div>
                    <ng-template #userMenu>
                         <a class="nav-link dropdownToggle" data-toggle="dropdown" >
                        <i class="fa fa-user"></i> {{name}}<b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="jvascript:void(0)"><i class="fa fa-fw fa-user"></i> Profile</a>
                        <a class="dropdown-item" href="jvascript:void(0)"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        <a class="dropdown-item" href="jvascript:void(0)"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        <a class="dropdown-item" (click)="logout()"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </div>
                    </ng-template>
                    
                    <ng-template #login>
                    <a class="nav-link dropdownToggle" data-toggle="dropdown" >
                        <i class="fa fa-user"></i> Login<b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" [routerLink]="['login']" ><i class="fa fa-fw fa-user"></i>Login</a>
                        <a class="dropdown-item" [routerLink]="['signup']"><i class="fa fa-fw fa-envelope"></i>Registrar</a>
                        <a class="dropdown-item" [routerLink]="['**']"><i class="fa fa-fw fa-gear"></i>Contactenos</a>
                    </div>
                    </ng-template>
            </ul>
        </div>
    </nav>
</div>

<!--
  <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-gear"></i>  <span class="caret"> botob</span>
                        </button>
                         <a class="nav-link" href="#" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                    </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a>
                            </li>
                            <li><a href="#">Another action</a>
                            </li>
                            <li><a href="#">Something else here</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div>-->