<ms-header></ms-header>
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="height:100vh; background-size: cover; background-image: url(assets/images/img/professions.jpg);">
  <div class="container-fluid">
    <div class="row  justify-content-center align-items-center d-flex text-center h-100">
      <div class="col-12 col-md-8  h-50 ">
        <h1 class="display-2  text-light mb-2 mt-5">
          <strong>Brontrix Services</strong>
        </h1>
        <p class="lead  text-light mb-5">
          Sub-heading. Header 100% height with center align items
        </p>
        <p>
          <a [routerLink]="['login']" class="btn bg-primary btn-round text-light btn-lg btn-rised">Login</a>
        </p>

        <div class="btn-container-wrapper p-relative d-block  zindex-1">
          <a class="btn btn-link btn-lg   mt-md-3 mb-4 scroll align-self-center text-light" href="http://bootstraptor.com">
            <i class="fa fa-angle-down fa-4x text-light"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<hr />
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-6">
      <div class="card card-inverse card-primary ">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-3"><i class="fa fa-user-o fa-5x"></i></div>
            <div class="col col-xs-9 text-right">
              <div class="d-block huge"></div>
              <div class="d-block">¿Eres un profesional?</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-left">Registrate</span>
          <a href="javascript:void(0)" class="float-right card-inverse">
            <span><i class="fa fa-arrow-circle-right"></i></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-inverse card-primary ">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-3">
              <i class="fa fa-cart-plus fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
              <div class="d-block huge"></div>
              <div class="d-block">Publicar un servicio</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-left">publicar</span>
          <a href="javascript:void(0)" class="float-right card-inverse">
            <span><i class="fa fa-arrow-circle-right"></i></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-inverse card-primary ">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-3">
              <i class="fa fa-commenting-o fa-5x"></i>
            </div>
            <div class="col col-xs-9 text-right">
              <div class="d-block huge"></div>
              <div class="d-block">Registrate & chatea con el profesional</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-left">Chatear</span>
          <a href="javascript:void(0)" class="float-right card-inverse">
            <span><i class="fa fa-arrow-circle-right"></i></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-inverse card-primary ">
        <div class="card-header">
          <div class="row">
            <div class="col col-xs-3"><i class="fa fa-database fa-5x"></i></div>
            <div class="col col-xs-9 text-right">
              <div class="d-block huge"></div>
              <div class="d-block">Encuentre la solucion a tu problema</div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <span class="float-left">Buscar</span>
          <a href="javascript:void(0)" class="float-right card-inverse">
            <span><i class="fa fa-arrow-circle-right"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<hr />

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/images/img/buscar.jpg" alt="Generic placeholder image" width="140"
        height="140" />
      <h2>Publicar un Servicio</h2>
      <span class="social social-blogger">
        <strong>Encontra el profesional adecuado para tu servicio</strong>
      </span>
      <p>
        Los mejores profesionales estan pendientes de tus servicios, publica un
        servicio al la breviedad te contactara un especialista es
        facil,seguro,rapido, y con los mejores precios.
      </p>
      <p>
        <a class="btn btn-primary" [routerLink]="['/detalle']" role="button">Publicar</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/images/img/perfil.jpg" alt="Generic placeholder image" width="140"
        height="140" />
      <h2>Cargar Pelfil</h2>
      <span class="social social-blogger">
        <strong>Haz que tu trabajo, llegue en todo el mundo cargue tu perfil</strong>
      </span>
      <p>
        Registrate, sube tu curriculum si sos un profesional calificado. los
        clientes te buscan asi que sube ya tu curriculum y empieza a vender
        servicios. nunca mas te va a quedar sin laburo.
      </p>
      <p>
        <a class="btn btn-primary" [routerLink]="['/cliente']" role="button">Cargar</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/images/img/search.jpg" alt="Generic placeholder image" width="140"
        height="140" />
      <h2>Buscar Profesional</h2>
      <span class="social social-blogger">
        <strong>Encontra el profesional adecuado para tu servicio</strong>
      </span>
      <p>
        Buscar un profesional no era tan facil, con nosotros es cuestion de
        minutos. Busqueda muy simple, encuentras el perfil de profesional
        adecuado y lo contratas.
      </p>
      <p>
        <a class="btn btn-primary" [routerLink]="['/detalle']" role="button">Buscar</a>
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <hr />
  <div class="row">
    <div class="col-xl-3 col-lg-6" *ngFor="let task of tasks">
      <img class="rounded-circle" src="/assets/images/pic/{{task.imageUrl}}" alt="Generic placeholder image" width="140"
        height="140" />
      <h2>{{ task.title }}</h2>
      <p>{{ task.description }}</p>
      <p>{{ task.salaryRange }}</p>
      <p>
        <button type="button" class="btn btn-outline-info">
          mas informacion
        </button>
      </p>
    </div>
  </div>
</div>
<hr />
<ms-footer></ms-footer>
