<footer class="section footer-classic context-dark bg-image mt-5 bottom footer">
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="" alt="" width="140"
              height="37" srcset=""></a>
          <p>Somos una empresa intermediario de servicios al cleinte, cuyo los clientes y los profesionales pueden
            intercatuarse de forma segura y  que los dos(2) grupos se encuentren satisfechos. </p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span class="copyright-year"><strong>{{date}}</strong></span><span> </span><span>Brontrix</span><span>. </span><span>Todo derecho reservado.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contactos</h5>
        <dl class="contact-list">
          <dt>Direccion:</dt>
          <dd>Capital Federel ,Buenos Aires, Argentina.</dd>
        </dl>
        <dl class="contact-list">
          <dt>Correo:</dt>
          <dd><a href="mailto:#">beetovenson@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>Telefonos:</dt>
          <dd><a href="tel:#">+91 7568543012</a> <span>or</span> <a href="tel:#">+91 9571195353</a>
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>Nuestros servicios</h5>
        <ul class="nav-list">
          <li><a href="#">Foro</a></li>
          <li><a href="#">Nuevas Publicaciones</a></li>
          <li><a href="#">Changas</a></li>
          <li><a href="#">Contacto</a></li>
          <li><a href="#">Soporte</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row no-gutters social-container">
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
    <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div>
</footer>
